<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <fieldset id="pronouns-selector">
            <legend>Escolha seus pronomes (Só pode escolher 1 por enquanto)</legend>
            <div>
                <input type="radio" id="none" name="pronouns" value="0" />
                <label for="none">Não definido</label>
            </div>
            <div>
                <input type="radio" id="he" name="pronouns" value="1" />
                <label for="he">Ele/dele</label>
            </div>
            <div>
                <input type="radio" id="she" name="pronouns" value="2" />
                <label for="she">Ela/dela</label>
            </div>
            <div>
                <input type="radio" id="they" name="pronouns" value="3" />
                <label for="they">Elu/delu</label>
            </div>
            <div>
                <input type="radio" id="all" name="pronouns" value="4" />
                <label for="all">Todos</label>
            </div>
        </fieldset>
    </form>

    <a href="/logout">Deslogar</a>
</body>

<script type="text/javascript" src="static/home/pronouns-form.js"></script>

</html>
